global
log stdout format raw local0 warning
maxconn 65535

defaults
log global
mode http
option httplog
option dontlognull

timeout connect 10s
timeout client 1m
timeout server 1m
timeout tunnel 1h

frontend cloudrun_ingress
bind 0.0.0.0:8080

acl is_health path -i /health
http-request return status 200 content-type "text/plain" string "OK" if is_health

acl is_root path -i /
http-request return status 200 content-type "text/html" file "/usr/local/etc/haproxy/index.html" if is_root

use_backend bk_trojan_ws if { path -i /CxlvinTRWS }
use_backend bk_trojan_hu if { path -i /CxlvinTRHU }
use_backend bk_trojan_xh if { path -i /CxlvinTRXH }

use_backend bk_vmess_ws if { path -i /CxlvinVMWS }
use_backend bk_vmess_hu if { path -i /CxlvinVMHU }
use_backend bk_vmess_xh if { path -i /CxlvinVMXH }

use_backend bk_vless_ws if { path -i /CxlvinVlWS }
use_backend bk_vless_hu if { path -i /CxlvinVlHU }
use_backend bk_vless_xh if { path -i /CxlvinVlXH }

use_backend bk_ss_ws if { path -i /CxlvinSSWS }
use_backend bk_ss_hu if { path -i /CxlvinSSHU }
use_backend bk_ss_xh if { path -i /CxlvinSSXH }

default_backend bk_service

backend bk_trojan_ws
server xray 127.0.0.1:10001

backend bk_trojan_hu
server xray 127.0.0.1:11001

backend bk_trojan_xh
server xray 127.0.0.1:10010

backend bk_vmess_ws
server xray 127.0.0.1:10004

backend bk_vmess_hu
server xray 127.0.0.1:11004

backend bk_vmess_xh
server xray 127.0.0.1:10011

backend bk_vless_ws
server xray 127.0.0.1:10002

backend bk_vless_hu
server xray 127.0.0.1:11002

backend bk_vless_xh
server xray 127.0.0.1:10009

backend bk_ss_ws
server xray 127.0.0.1:10003

backend bk_ss_hu
server xray 127.0.0.1:11003

backend bk_ss_xh
server xray 127.0.0.1:10012

backend bk_service
http-request return status 200 content-type "text/plain" string "Heisenberg proxy is running"
